#### 자료구조 중 리스트 복습
- 언어의 배열과 비슷한 개념
- 파이썬에서는 배열 구조가 없기 때문에 리스트를 배열 대신으로 사용.
- 1차원 배열과 동일(내부구조만 차이가 있음)

#### 리스트 생성
'''python
리스트명 = [value1, value2, value3, ...]
'''

In [124]:
# 리스트 생성
aa = [10, 20, 30, 40]

In [125]:
# aa 변수확인
aa

[10, 20, 30, 40]

In [126]:
# indexing
aa[0]

10

In [127]:
# 값 할당
aa[1] = 2000

In [128]:
aa

[10, 2000, 30, 40]

##### 빈 리스트 생성, 항목 추가

In [129]:
# 빈 리스트 생성
aa = []

In [130]:
# 항목추가
aa.append(10)
aa.append(30)
aa.append(50)
aa.append(70)
aa

[10, 30, 50, 70]

In [131]:
# 반복문으로 항목추가
aa = []
for i in range(10, 80, 20):
    aa.append(i)

aa

[10, 30, 50, 70]

In [132]:
aa = [0, 0, 0, 0]
aa[0] = 20
aa[1] = 40
aa[2] = 60
aa[3] = 80

aa

[20, 40, 60, 80]

In [133]:
# code02-05.py
aa = []

for i in range(0, 4):
    aa.append(i)

aa

[0, 1, 2, 3]

In [134]:
hap = 0

for i in range(0, 4):
    aa[i] = int(input(f'{i+1} 번째'))

aa

[100, 200, 300, 400]

In [135]:
aa

[100, 200, 300, 400]

In [136]:
for i in range(0,4):
    hap = hap + aa[i]

In [137]:
print(f'합계 ==> {hap}')

합계 ==> 1000

In [138]:
f'합계 ==> {hap}'

'합계 ==> 1000'

#### 팁
- 노트북에서는 한 쉘에서는 하나의 변수값만 출력됨
- 가장 아래에 있는 변수만

In [142]:
aa
hap

1000

- 여러변수의 값을 다 출력하고 싶으면
- print() 함수 사용할 것

In [143]:
print(aa)
print(hap)

[100, 200, 300, 400]
1000

#### 슬라이싱
- 리스트를 범위별로 자르는 법

In [144]:
aa = [1,3,5,7,9,11,13,15,17,19]

In [146]:
# [1,3,5]
aa[0:3]

[1, 3, 5]

In [145]:
aa[8:9]

[17]

In [147]:
aa[5:]

[11, 13, 15, 17, 19]

In [148]:
aa[:5]

[1, 3, 5, 7, 9]

In [149]:
# 5번째 까지 출력하려면 +1 !
aa[0:5+1]

[1, 3, 5, 7, 9, 11]

### 리스트 내장 함수(연산)

In [150]:
# Code02_06.py
myList = [30, 10, 20, 50]
f'현재 리스트 결과 : {myList}'

'현재 리스트 결과 : [30, 10, 20, 50]'

In [151]:
myList.append(40)
f'40 추가 후 리스트 : {myList}'

'40 추가 후 리스트 : [30, 10, 20, 50, 40]'

In [152]:
# pop() - 스택 push, pop, 중 기능 데이터 꺼내오기
f'pop으로 꺼낸 값 : {myList.pop()}'

'pop으로 꺼낸 값 : 40'

In [153]:
f'pop이후 데이터 : {myList}'

'pop이후 데이터 : [30, 10, 20, 50]'

In [154]:
# 데이터 순서 바꾸기
myList.reverse()
myList

[50, 20, 10, 30]

In [155]:
# 정렬 - 오름차순
myList.sort()
f'오름차순 정렬 후 데이터 : {myList}'

'오름차순 정렬 후 데이터 : [10, 20, 30, 50]'

In [156]:
# 정렬 - 내림차순
myList.sort(reverse=True)
f'내림차순으로 정렬 후 데이터 : {myList}'

'내림차순으로 정렬 후 데이터 : [50, 30, 20, 10]'

In [157]:
f'20의 위치(인덱스) {myList.index(20)}'

'20의 위치(인덱스) 2'

In [88]:
# append() 와는 다른, 원하는 위치에 데이터 추가
myList.insert(2, 90)
f'2번 index에 90 값을 집어넣은 출력 값 {myList}'

'2번 index에 90 값을 집어넣은 출력 값 [50, 30, 90, 20, 10]'

In [158]:
# 삭제
myList.remove(30)
myList

[50, 20, 10]

In [159]:
myList.append(30)
myList.append(70)
myList.append(30)
myList

[50, 20, 10, 30, 70, 30]

In [160]:
# 같은 수가 여러개 있어도 한번만 삭제됨
myList.remove(30)
myList.remove(70)
myList
# 데이터가 없으면 예외발생(ValueError)

[50, 20, 10, 30]

In [161]:
myList.extend([80, 100, 40])
myList

[50, 20, 10, 30, 80, 100, 40]

In [ ]:
myList.count(70)

0

In [163]:
myList.clear()

In [164]:
myList

[]

In [165]:
myList.append(10)
myList

[10]

### 2차원 리스트
- 2차원 배열 - 매트릭스(행렬)

In [171]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [186]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [ ]:
# 행 , 렬의 인덱스 값
matrix[1][3]

8

In [174]:
# 행의 데이터 전부
matrix[2]

[9, 10, 11, 12]

In [185]:
# 한열의 데이터 전부
b = [i[3] for i in matrix]
b

[4, 8, 12]

In [ ]:
# Code02-07.py
# 2차원 리스트를 2차원으로 출력
list1 = []
list2 = []
Value = 1
for i in range(0, 3): # 3행
    for j in range(0, 4): # 열
        list1.append(Value)    # [1,2,3,4] / [5,6,7,8] / [9,10,11,12]
        Value +=1

    list2.append(list1) # [[1,2,3,4]/[5,6,7,8]/[9/10/11/12]]
    list1 = [] # list1.clear() 사용하면 안됨!!!

list2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [196]:
for i in range(3): # range(0,3)
    for j in range(4): # range(0,4)
        print(f'{list2[i][j]:>3d}', end = ' ') # :>3d오른쪽정렬 , :<3d왼쪽정렬
    print()

  1   2   3   4
  5   6   7   8
  9  10  11  12